.flex-content {
    display: flex;
    justify-content: center;
    background-color: white;
  }
button {
        color: white;
        font-family: sans-serif;
        font-size: 16px;
        background-color: #FF764E;
        border: 20px;
        padding: 30px;
        text-align: center;
}

.header_img{
    width: 30%;
    border-radius: 50%;
}
h1, 
section {
    font-family: chelsea-market;
    text-align: right;
}
img fire{


}



.footer_img{ 
    width: 100%;  
}